<!doctype html>
<html lang="pt-BR">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
                <title>{% block title%}{% endblock %}</title>
                {% block head %}{% endblock %}
        </head>
        <body>

                <nav class="navbar navbar-dark bg-dark">
                        <div>
                                <a class="navbar-brand" href="/">MichaelOJackson</a>
                                <a class="navbar-brand" href="/knapsack/" style="font-size: 14px;">KnapSack</a>
                                <a class="navbar-brand" href="/subsequencia/" style="font-size: 14px;">Maior subsequência Crescente</a>

                        </div>

                </nav>

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" ></script>

                <div>
                        {% block body%}{% endblock %}
                </div>



        </body>
</html>
