{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div  style="margin:0 auto; width: 500px">
        <div align="center">
                <br>
                <h1>Objetivo</h1>
                <br>
                <img src="https://i.pinimg.com/originals/39/cc/b6/39ccb6bc5796700ef8e6a587131d6f23.jpg" alt="michael" width="300" height="250" >
                <br>
                <br>
                <p>
                        Esse projeto consiste em utilizar algoritmos aprendidos na disciplina para ajudar o rei do pop com 
                        diversos problemas que ele vem tendo.
                </p>
                <h5>Use a navbar para encontrar os problemas</h5>
        </div>
</div>

                </br>
                </br>
                </br>
                {% endblock %}
