{% extends "base_template.html" %}
{% block body %}
<br>
<div  style="margin:0 auto; width: 500px">
        <div align="center">
                <br>
                <h1>Problema</h1>
                <br>
                <img src="https://i.insider.com/538cd8006bb3f7a83a21f677?width=1136&format=jpeg" alt="michael" width="300" height="250" >
                <br>
                <br>
                <p>
                Michael Jackson é um aluno da disciplina de Projeto de Algoritmos do primeiro semestre de 2021 e está com muitas dificuldades para
                acessar as aulas gravadas pois possui apenas um celular que tem pouca memória para baixar as aulas do módulo de programação dinâmica,
                Como o espaço de memória não é suficiente para baixar todos os vídeos de uma vez Michael precisa baixar a maior quantidade de vídeos de 
                uma unica vez para aproveitar o wifi de seus vizinhos, tendo isso em vista vamos usar Programação dinâmica para ajudar o Michael?

                </p>
        </div>
</div>
<br>
<div class='d-flex justify-content-center'>
  <h1>Aulas de PA</h1>
</div>

<form action="{{ url_for('render_knapsack') }} " method = 'post' class="")>
<div class="row d-flex justify-content-center">
  {% for i in row1 %}

  <div style="margin-top: 20px;" class="col-md">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" width="100" height="100" src="{{i.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.description}}</p>
        <select name="{{i.tag}}" class="form-select" aria-label="Default select example">
          <option value='10'>10</option>
          <option value='20'>20</option>
          <option value='30'>30</option>
          <option value='40'>40</option>
          <option value='50'>50</option>
          <option value='60'>60</option>
          <option value='70'>70</option>
          <option value='80'>80</option>
          <option value='90'>90</option>
        </select>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<div class="row d-flex justify-content-center">
  {% for i in row2 %}

  <div style="margin-top: 20px;" class="col-md">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" width="100" height="100" src="{{i.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.description}}</p>
        <select name="{{i.tag}}" class="form-select" aria-label="Default select example">
          <option value='10'>10</option>
          <option value='20'>20</option>
          <option value='30'>30</option>
          <option value='40'>40</option>
          <option value='50'>50</option>
          <option value='60'>60</option>
          <option value='70'>70</option>
          <option value='80'>80</option>
          <option value='90'>90</option>
        </select>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<div  style="margin:0 auto; width: 500px">
    <div align="center">
      <br>
      <label for="fname">Escolha a quantidade de memoria disponivel:</label><br><br>
      <select name="memory" class="form-select" aria-label="Default select example">
        <option value='100'>100 MiB</option>
        <option value='200'>200 MiB</option>
        <option value='300'>300 MiB</option>
        <option value='400'>400 MiB</option>
        <option value='500'>500 MiB</option>
        <option value='600'>600 MiB</option>
        <option value='700'>700 MiB</option>
        <option value='800'>800 MiB</option>
        <option value='900'>900 MiB</option>
      </select>
      <button class="btn btn-dark mt-3" style="width:100%">Enviar</button>
    </div>
  </form>
</div>

</br>
</br>
</br>
{% endblock %}
